@font-face {
  font-family: "font3";
  src: url("./../fonts/font3.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

.underhero1 {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-decoration: none;
}

.video1 {
  width: 40%;
  height: auto;
  object-fit: cover;
  display: block;
}

.underhero1 h2 {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "font3", sans-serif;
  font-size: 3rem;
  color: rgba(152, 152, 152, 0.568);
  z-index: 2;
  pointer-events: none;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-image: linear-gradient(
      to right,
      rgba(195, 195, 195, 0.15) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 1px, transparent 1px);
  background-size: 100px 100px;
}

.side-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 6rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.4);
  font-family: "font3", sans-serif;
  letter-spacing: 0.15em;
  pointer-events: none;
}

.left-text {
  left: 5%;
}

.right-text {
  right: 7%;
}

@media (max-width: 1360px){
 .side-text{
  font-size: 13vh;
 }
}

@media (max-width: 1036px){

   .side-text{
  font-size: 10vh;
 }
}


@media (max-width: 807px){
    .side-text{
  font-size: 6vh;
 }
}

@media (max-width: 479px){
  .side-text{
  font-size: 4vh;
 }
}