
.admcontainer {
  display: flex;
  height: 100vh;
  width: 100%;
  font-family: 'Michroma', sans-serif;
  background-color: #f3f4f6;
  color: rgb(80, 80, 80);
  overflow-x: hidden;
}

.menuicon{
  display: none;
}

.admaside {
  width: 250px;
  background-color: #f3f4f6;
  padding: 20px;
  border-right: 1px solid rgba(207, 205, 205, 0.353);
  display: flex;
  flex-direction: column;
}

.admlogo {
  font-size: 2rem;
  margin-bottom: 30px;
  text-align: center;
  font-family: "font3";
  color: black;
}

.admmirror {
  transform: scaleX(-1);
  display: inline-block;
}

.admaside nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.admaside nav ul li {
  margin-bottom: 15px;
  position: relative;
}

.admaside nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  font-family:  "Orbitron";
}

.admaside nav ul li a.active {
  font-weight: bold;
}


.admaside nav ul li:not(:last-child)::after {
  content: "";
  display: block;
  height: 1px;
  background-color: rgb(181, 181, 181);
  margin-top: 8px;
}


.admlogout {
  margin-top: auto;
  padding: 10px;
  border: none;
  background-color: black;
  color: #f3f4f6;
  cursor: pointer;
  font-family: 'Michroma', sans-serif;
  transition: 0.3s;
}

.admlogout:hover {
  background-color: #333;
}


.admmain {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #f3f4f6;
  
}



@media (max-width: 768px) {
  .admaside {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    z-index: 100;
    width: 200px;
  }

  .admaside.active {
    transform: translateX(0);
  }

  .menuicon {
    display: block;
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 200;
    cursor: pointer;
    color: #111827;
  }

  .admmain {
    padding: 20px;
    transition: filter 0.3s ease;
  }

  
  .admaside.active ~ .admmain {
    filter: blur(2px);
  }
}